* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.App {
  text-align: center;
}

.column {
  background-color: #2274A5;
}

.tableHead {
  text-decoration: underline;
}

h1, h2, label {
  color: white;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2em;
}

a:hover {
  color: #E83F6F;
}

.errColor {
  color: #660000;
}

h4 {
  color: #f2f2f2;
  text-decoration: underline;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
